<!DOCTYPE html>
<html>
  <head>
    <title>Precious Gems | {{ docTitle }}</title>
    <link rel="stylesheet" href="https://kodipe.github.io/precious-gems/style.css">
  </head>
  <body>
    <header class="header">
      <h2 class="logo"><img src="https://kodipe.github.io/precious-gems/assets/bash.svg"><a href="https://kodipe.github.io/precious-gems">Precious Gems</a></h2>
    </header>
    <main class="main">
      <pre>
{{ content }}
      </pre>
    </main>
    <footer class="footer">
      <a href="https://github.com/kodipe/precious-gems">GitHub</a> &bull; Created from scratch &copy; 2025
    </footer>
  </body>
</html>
